<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EndpointUri" value="https://soft262.documents.azure.com:443/" />
    <add key="PrimaryKey" value="k2Rt0FFWWcNyVgylcZX62Tso40qmjnJZInHbDgOjiYKWxSdz2YUXLUfnbsvOafJeGoEFF7Fx29Iw5O1J5fRS2g==" />
  </appSettings>
</configuration>